* {
    box-sizing: border-box;
}

body {
    background-color: #1a1d29;
    height: 100%;
    font-family: 'Avenir LT Pro', sans-serif;
}

//smartphone
.content-login {
    height: 100vh;


    .login {
        width: 100%;

        .logo {
            padding-top: 50px;
            padding-left: 160px;

            a {
                img {
                    width: 100px;
                }
            }

            h1 {
                margin: 0px;
                padding-left: 20px;
                color: white;
            }

        }

        h2 {
            padding: 30px;
            color: white;
        }

        form {
            padding: 30px;
            margin-top: -50px;

            #usuario {
                width: 370px;
                height: 30px;
                border-radius: 5px;
                padding-left: 10px;
                margin-bottom: 15px;
                background-color: #31343e;
                color: lightgray;
                border: none;
            }

            #password {
                width: 370px;
                height: 30px;
                border-radius: 5px;
                padding-left: 10px;
                margin-bottom: 15px;
                background-color: #31343e;
                color: lightgray;
                border: none;
            }

            #submit {
                width: 370px;
                height: 30px;
                border-radius: 5px;
                color: #000;
                font-size: 15px;
                font-weight: bold;
                cursor: pointer;
                border: none;
                color: white;
                background-color: #0072d2;
            }

            #validarUser {
                color: red;
                margin: 0px;
                padding-top: 2px;
                padding-bottom: 12px;
                display: none;
            }

            #validarPass {
                color: red;
                margin: 0px;
                padding-top: 2px;
                padding-bottom: 12px;
                display: none;
            }
        }

        #unique {
            margin-top: -15px;
            padding-left: 30px;
            color: white;

            a {
                color: lightblue;
                text-decoration: none;
            }
        }
    }
}

#footer {
    background-color: #090b13;

    .logo_footer {
        padding-top: 20px;
        padding-bottom: 20px;

        a {
            padding-left: 190px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    .list {
        font-size: 10px;
        padding-left: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;

        a {
            color: white;
            text-decoration: none;
            padding-right: 15px;
        }
    }

    .rights {
        padding-left: 140px;
        padding-bottom: 20px;
        font-size: 8px;
        color: white;
    }
}

//tablet
@media screen and (min-width: 768px) {
    .login {
        .logo {
            padding-top: 150px;
            margin-left: 210px;

            a {
                img {
                    width: 150px;
                    height: 150px;
                }
            }

            h1 {
                margin: 0px;
                padding-left: 20px;
                color: white;
            }
        }

        h2 {
            margin-left: 200px;
        }

        form {
            margin-left: 200px;
            width: auto;

            .form_text {

                #usuario {
                    height: 40px;
                }

                #password {
                    height: 40px;
                }

                #submit {
                    height: 40px;
                }
            }
        }

        #unique {
            margin-left: 200px;
        }
    }

    .logo_footer {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 210px;
    }

    .list {
        margin-left: 170px;
    }

    .rights {
        margin-left: 200px;
    }
}

/*desktop*/
@media screen and (min-width: 992px) {
    .login {
        .logo {
            padding-top: 150px;
            margin-left: 570px;

            a {
                img {
                    width: 150px;
                    height: 150px;
                }
            }

            h1 {
                margin: 0px;
                padding-left: 20px;
                color: white;
            }
        }

        h2 {
            margin-left: 570px;
        }

        form {
            margin-left: 570px;
            width: auto;

            .form_text {

                #usuario {
                    height: 45px;
                }

                #password {
                    height: 45px;
                }

                #submit {
                    height: 45px;
                }

            }
        }

        #unique {
            margin-left: 570px;

            #registrar {
                color: white;

                &:hover {
                    color: lightblue;
                }
            }
        }

    }

    .logo_footer {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 590px;
    }

    .list {
        margin-left: 540px;
    }

    .rights {
        margin-left: 570px;
    }
}